{# templates/team/no_team.html.twig #}
{% extends '/base.html.twig' %}
{% block other %}
    {{ parent() }}
{% endblock %}
         {% block body %}
             <h1>Nie należysz do zadnej drużyny!</h1>
             <li><a href="/add_team">Dodaj swoją drużynę</a></li>
             <li><a href="/choose_team">Dołącz do istniejącej drużyny</a></li>
         {% endblock %}


{% block footer %}
    {{ parent() }}
{% endblock %}